<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="de">
<head>
    <meta charset="UTF-8" />
    <title>FarmControll Dashboard</title>
    <link th:href="@{/css/sidebar.css}" rel="stylesheet">
</head>
<body>
<div th:fragment="sidebar">
    <nav class="container">
        <h2>FarmControll</h2>
        <ul class="nav">
            <li><a href="#">Dashboard</a></li>
            <li><a href="#">Aufgaben</a></li>
            <li><a href="#">Ausrüstung</a></li>
            <li><a href="#">Plattformen</a></li>
            <li><a href="#">Benutzer</a></li>
        </ul>
    </nav>
</div>
</body>
</html>
