@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
body {
    font-family: "Open Sans", sans-serif;
    height: 100vh;
    background-color: #f6f6f6;
}

.tasks-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
}

.tasks-content-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 10px;
}

.tasks-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tasks-header h2 {
    font-size: 24px;
    padding-bottom: 20px;
    padding-left: 20px;
}

.tasks-header a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 16px;
    padding: 10px 20px;
    background-color: #4CAF50;
    border-radius: 5px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.tasks-header a:hover {
    background-color: #45a049;
}

.tasks-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.tasks-table th {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    text-align: left;
}

.tasks-table th, .tasks-table td {
    border: 1px solid #ddd;
}

.tasks-table td {
    padding: 10px;
}

.btn-edit {
    background-color: #f39d4b;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.btn-edit:hover {
background-color: #e08e39;
}


.btn-delete {
    background-color: #f44336;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;

}

.btn-delete:hover {
    background-color: #d32f2f;
}