<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Geräteliste</title>
    <link rel="stylesheet" th:href="@{/css/sidebar.css}"/>
    <link rel="stylesheet" th:href="@{/css/equipment.css}"/>
</head>
<body>

<div class="equipment-container">
    <div th:replace="~{fragments/sidebar :: sidebar}"></div>
    <div class="equipment-content-container">
        <div class="equipment-header">
            <h2>Geräte</h2>
            <a th:href="@{/equipments/new}">+ Neues Gerät</a>
        </div>

        <table class="equipment-table">
            <thead >
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Modell</th>
                <th>Hersteller</th>
                <th>Status</th>
                <th>Standort</th>
                <th>Aktionen</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="e : ${equipments}">
                <td th:text="${e.id}"></td>
                <td th:text="${e.equipmentName}"></td>
                <td th:text="${e.model}"></td>
                <td th:text="${e.manufacturer}"></td>
                <td>
                    <span  th:text="${e.equipmentStatusName}"></span>
                </td>
                <td th:text="${e.locationName}"></td>
                <td>
                    <a class="btn-edit" th:href="@{'/equipments/update/' + ${e.id}}">Bearbeiten</a>
                    <a class="btn-delete" th:href="@{'/equipments/delete/' + ${e.id}}"
                       onclick="return confirm('Möchten Sie dieses Gerät wirklich löschen?')">Löschen</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

</body>
</html>
