<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Standorte</title>
    <link rel="stylesheet" th:href="@{/css/sidebar.css}"/>
    <link rel="stylesheet" th:href="@{/css/location.css}"/>
</head>
<body>

<div class="location-container">
    <div th:replace="~{fragments/sidebar :: sidebar}"></div>

    <div class="location-content-container">
        <div class="location-header">
            <h2>Standorte</h2>
            <a th:href="@{/locations/new}">+ Neuer Standort</a>
        </div>

        <table class="location-table">
            <thead >
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Beschreibung</th>
                <th>Adresse</th>
                <th>Koordinaten</th>
                <th>Aktionen</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="location : ${locations}">
                <td th:text="${location.id}"></td>
                <td th:text="${location.name}"></td>
                <td th:text="${location.description}"></td>
                <td th:text="${location.address}"></td>
                <td th:text="${location.coordinates}"></td>
                <td>
                    <a class="btn-edit" th:href="@{'/locations/update/' + ${location.id}}">Bearbeiten</a>
                    <a class="btn-delete" th:href="@{'/locations/delete/' + ${location.id}}"
                       onclick="return confirm('Möchten Sie diesen Standort wirklich löschen?')"
                    >Löschen</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

</body>
</html>
