<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Ersatzteilliste</title>
  <link rel="stylesheet" th:href="@{/css/sidebar.css}"/>
  <link rel="stylesheet" th:href="@{/css/spar-parts.css}"/>
</head>
<body class="bg-light">

<div class="spar-container">
  <div th:replace="~{fragments/sidebar :: sidebar}"></div>

  <div class="spar-content-container">
    <div class="spar-header">
      <h2>Ersatzteile</h2>
      <a th:href="@{/spare-parts/new}">+ Neues Ersatzteil</a>
    </div>

    <table  class="spar-table">
      <thead >
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Menge</th>
        <th>Verwendet in Geräten</th>
        <th>Aktionen</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="sp : ${spareParts}">
        <td th:text="${sp.id}"></td>
        <td th:text="${sp.name}"></td>
        <td th:text="${sp.quantity}"></td>
        <td>
          <ul>
            <li th:each="ename : ${sp.equipmentNames}" th:text="${ename}"></li>
          </ul>
        </td>
        <td>
          <a class="btn-edit" th:href="@{'/spare-parts/update/' + ${sp.id}}" >Bearbeiten</a>
          <a class="btn-delete" th:href="@{'/spare-parts/delete/' + ${sp.id}}"
             onclick="return confirm('Möchten Sie dieses Ersatzteil wirklich löschen?')"
             >Löschen</a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

</body>
</html>
