<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Aufgabenliste</title>
    <link rel="stylesheet" th:href="@{/css/sidebar.css}">
    <link rel="stylesheet" th:href="@{/css/tasks.css}">
</head>
<body class="bg-light">
<div class="tasks-container">
    <div th:replace="~{fragments/sidebar :: sidebar}"></div>
    <div class="tasks-content-container">
        <div class="tasks-header">
            <h2>Aufgaben</h2>
            <a th:href="@{/tasks/new}">+ Aufgabe</a>
        </div>

        <table class="tasks-table">
            <thead>
            <tr>
                <th>Titel</th>
                <th>Status</th>
                <th>Benutzer</th>
                <th>Standort</th>
                <th>Aktionen</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="t : ${tasks}">
                <td th:text="${t.name}"></td>
                <td>
                    <span th:text="${t.taskStatusName}"></span>
                </td>
                <td th:text="${t.userName}"></td>
                <td th:text="${t.locationName}"></td>
                <td>
                    <a class="btn-edit" th:href="@{'/tasks/update/' + ${t.id}}">Bearbeiten</a>
                    <a class="btn-delete" th:href="@{'/tasks/delete/' + ${t.id}}"
                       onclick="return confirm('Aufgabe wirklich löschen?')">Löschen</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

</body>
</html>
